body {
    margin: 0;
}



.search-form {


    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: skyblue;
    padding: 15px;
    z-index: 5;
}

.btn {
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.search-text {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;

}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
}

.photo-card {
    border-radius: 5px;

    box-shadow: 5px 8px 14px 0px rgba(0, 0, 0, 0.68);
}

.photo-link {
    display: block;
    overflow: hidden;
}

.photo-img {
    width: 320px;
    height: 180px;
    display: block;
    border-radius: 5px 5px 0 0;
    cursor: zoom-in;
    transition: transform 1000ms ease-out;


}

.photo-img:hover {
    transform: scale(1.15);
}


.info {
    display: flex;
    gap: 10px;
    max-width: 320px;
    background-color: yellowgreen;
    border-radius: 0 0 5px 5px;

}


.info-item {

    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.wrapper {
    margin: 20px;
    text-align: center;

}

.hide {
    display: none;
}

.wrapper-gif {
    display: flex;
    justify-content: center;

}